{% extends "include/layout.twig" %}
{% block content %}
<section class="content">
  <div class="row mb-2">
    <div class="col-md-12">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{{'home'|url}}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item"><i class="fas fa-box"></i> Productos</li>
        </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><strong style="text-transform: uppercase;">Listado de {{title}}</strong></h3>
          <div class="card-tools float-right">
            <button class="btn btn-success btn-sm button-add">Nuevo</button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="tabla" class="table table-striped table-bordered text-center" width="100%">
              <thead>
                <tr>
                  <th>Acciones</th>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Marca</th>
                  <th>Entradas</th>
                  <th>Stock</th>
                  <th>Salidas</th>
                  <th>Costo</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

  dt = $("#tabla").DataTable({
        "ajax": {
          "method"   : "post",
          "url"      : "producto/grid",
          "dataType" : "json"
        },
        "columns": [
            { "data":"foto",
              render: function (data) {
                var html = '<button class="btn btn-danger btn-xs borrar" title="Eliminar producto"><i class="icon ion-md-trash"></i></button> '+
                '<button class="btn btn-success btn-xs editar" title="Editar producto"><i class="icon ion-md-create"></i></button> ' +
                '<button class="btn btn-warning btn-xs existencias" title="Agregar existencias"><i class="icon ion-md-cube"></i></button> ';
                return data == null
                ? html+'<button disabled class="btn btn-dark btn-xs ver" title="Ver producto"><i class="icon ion-md-eye"></i></button>'
                : html+'<button class="btn btn-dark btn-xs ver" title="Ver producto"><i class="icon ion-md-eye"></i></button>';
              }
            },
            { "data": "id"},
            { "data": "descripcion"},
            { "data": "marca.descripcion" },
            { "data": "entradas" },
            { "data": "stock" },
            { "data": "salidas" },
            { "data": "costo",
                render: function (data) {
                  return 'COP '+  new Intl.NumberFormat("de-DE").format(data);
                }
            },
            { "data": "precio",
                render: function (data) {
                  return 'COP '+  new Intl.NumberFormat("de-DE").format(data);
                }
            }
        ]
  });

  $(".card-header").on("click",".button-add", function() {
    $("#content_editadd").empty();
    $.post('producto/crud',function(r) {
      $("#content_editadd").html(r);
      $('#modal_editadd').modal('show');
    },'html');
  })

  $("#tabla").on("click",".editar", function() {
    $("#content_editadd").empty();
    var data = dt.row($(this).parents("tr")).data();
    $.post('producto/crud',{
      id: data.id
    },function(r) {
      $("#content_editadd").html(r);
      $('#modal_editadd').modal('show');
    },'html');
  })

  $("#tabla").on("click",".existencias", function() {
    $("#content_editadd").empty();
    var data = dt.row($(this).parents("tr")).data();
    $.post('producto/exist',{
      id: data.id
    },function(r) {
      $("#content_editadd").html(r);
      $('#modal_editadd').modal('show');
    },'html');
  })

  $("#tabla").on("click",".borrar", function() {
    var data = dt.row($(this).parents("tr")).data();
    Swal.fire({
      title: '¿Está seguro?',
      text: "¿Realmente desea borrar el producto: " + data.descripcion + " ?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#28a745',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, Borrarlo!'
    }).then((decision) => {
      if(decision.value) {
        $.post('producto/eliminar',{
          id: data.id
        },function(r) {
          dt.page( 'last' ).draw( 'page' );
          dt.ajax.reload(null, false);
          var tipo = r.response ? 'success' : 'error';
          Swal.fire({
            position: 'top-end',
            type: tipo,
            text: r.message,
            showConfirmButton: false,
            timer: 2000
          });
        },'json');
      }
    })
  })

  $("#tabla").on("click",".ver", function() {
    var data = dt.row($(this).parents("tr")).data();
    if(data.foto !== null){
      window.open("{{'productos/'|uploads}}"+data.foto,'_blank');
    }
  })
})
</script>
{% endblock %}
