{% extends "include/layout.twig" %}
{% block content %}
<section class="content">
  <div class="row mb-2">
    <div class="col-md-12">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{{'home'|url}}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item"><i class="fas fa-file-invoice-dollar"></i> Facturas</li>
        </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><strong style="text-transform: uppercase;">Listado de {{title}}</strong></h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="tabla" class="table table-striped table-bordered text-center" width="100%">
              <thead>
                <tr>
                  <th>Acciones</th>
                  <th>Código</th>
                  <th>Cliente</th>
                  <th>Usuario</th>
                  <th>Iva</th>
                  <th>Total</th>
                  <th>Neto</th>
                  <th>Estado</th>
                  <th>Creada en</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

  dt = $("#tabla").DataTable({
        "ajax": {
          "method"   : "post",
          "url"      : "factura/grid",
          "dataType" : "json"
        },
        "columns": [
            { "data": "estado",
              render: function (data) {
                return data == 1
                ? '<button class="btn btn-danger btn-xs anular" title="Anular Factura"><i class="icon ion-md-close"></i></button> <button class="btn btn-success btn-xs generar" title="Generar Factura"><i class="icon ion-md-eye"></i></button>'
                : '<button disabled class="btn btn-danger btn-xs anular" title="Anular Factura"><i class="icon ion-md-close"></i></button> <button class="btn btn-success btn-xs generar" title="Generar Factura"><i class="icon ion-md-eye"></i></button>';
              }
            },
            { "data": "id"},
            { "data": "nombre_cliente"},
            { "data": "nombre_usuario" },
            { "data": "iva",
              render: function (data) {
                return 'COP '+new Intl.NumberFormat("de-DE").format(data);
              }
            },
            { "data": "total",
              render: function (data) {
                return 'COP '+new Intl.NumberFormat("de-DE").format(data);
              }
            },
            { "data": "neto",
              render: function (data) {
                return 'COP '+new Intl.NumberFormat("de-DE").format(data);
              }
            },
            { "data": "estado",
              render: function (data) {
                return data == 1 ? 'Activa' : 'Anulada';
              }
            },
            { "data": "created_at",
              render: function (data) {
                return moment(data).format('DD/MM/YYYY h:mm:ss a');
              }
            }
        ]
  });

  $("#tabla").on("click",".anular", function() {
    var data = dt.row($(this).parents("tr")).data();
    if(data.estado == 1) {
      Swal.fire({
        title: '¿Está seguro?',
        text: "¿Realmente desea anular la factura n°: " + data.id + " ?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#28a745',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Anularla!'
      }).then((decision) => {
        if(decision.value) {
          $.post('factura/anular',{
            id: data.id
          },function(r) {
              dt.page( 'last' ).draw( 'page' );
              dt.ajax.reload(null, false);
              var tipo = r.response ? 'success' : 'error';
              Swal.fire({
                position: 'top-end',
                type: tipo,
                text: r.message,
                showConfirmButton: false,
                timer: 2000
              });
          },'json');
        }
      })
    }
  })

  $("#tabla").on("click",".generar", function() {
    var data = dt.row($(this).parents("tr")).data();
    var ancho = window.screen.width <= 1024 ? 800 : 1350;
    var alto = window.screen.height <= 768 ? 520 : 850;
    var x = parseInt((window.screen.width / 2) - (ancho / 2));
    var y = parseInt((window.screen.height / 2) - (alto / 2));
    window.open("{{'factura/pdf/'|url}}"+data.id,"Factura","left="+x+",top="+y+",height="+alto+",width="+ancho+",scrollbar=si,location=no,resizable=si,menubar=no");
  })
})
</script>
{% endblock %}
