.header-modal {
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.footer-modal {
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.auth-block {
    min-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background:
    rgba(255,255,255,.55);
    color:
    #000;
    padding: 32px;
}
.float-right {
  margin: 10px 7px;
}
